@CHARSET "UTF-8";

.selector_container {
	display: inline-block;
	vertical-align: top;
	position: relative;
}

.selector {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
}

.selector.placeholder {
	-webkit-text-fill-color: #ccc;
}

.selector_body {
	position: absolute;
	border: 1px solid #ccc;
	background-color: #fff;
	width: 100%;
	border-radius: 4px;
	z-index: 1;
}

.selector_body input {
	width: 90%;
	display: block;
	margin: 5px auto;
	height: 32px;
	line-height: 32px;
	outline: none;
	border: 1px solid #ccc;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s
		ease-in-out 0s;
	padding: 5px;
}

.selector_body input:focus {
	border-color: rgba(41, 161, 177, 1);
}

.selector_option {
	font-size: 14px;
	line-height: 32px;
	cursor: pointer;
	padding: 3px 0px;
	position: relative;
}

.graph-ok {
	border-bottom: 2px solid #999;
	border-left: 2px solid #999;
	width: 15px;
	height: 7px;
	display: inline-block;
	transform: rotate(-45deg);
	position: absolute;
	right: 10%;
	top: 15px;
	display: none;
}

.selector_option.active .graph-ok {
	display: block;
}

.selector_option .selector_option_item {
	width: 90%;
	display: block;
	margin: 0 auto;
	border-radius: 3px;
	padding: 0px 10px;
}

.selector_body_select {
	display: flex;
	width: 90%;
	margin: 5px auto;
	flex-flow: row nowrap;
}

.selector_body_select button {
	flex: 1 1 auto;
	height: 22px;
	font-size: 12px;
	padding: 0px 13px;
	line-height: 22px;
	outline: none;
	background-color: #FFFFFF;
	white-space: nowrap;
	border: 1px solid rgba(174, 174, 174, 1);
	cursor: pointer;
	box-sizing: border-box;
	transition: color .1s linear, background-color .1s linear, border .1s
		linear, box-shadow .1s linear;
	color: #000;
}

.selector_body_select button:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.selector_body_select button:first-child {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.selector_body_select button:last-child {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.selector_option:hover .selector_option_item {
	background: #eee;
}